.tile {
    background: url('/src/assets//monks.jpg');
    background-size: 400px 400px;
    background-repeat: no-repeat;
    position: absolute;
    border: 1px solid gray;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
}